<a href="https://colab.research.google.com/github/sarfrazDTT/cloab/blob/main/PD_NCBA_2021_Loans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# path = "Loans_Data_PD.xlsx"
# df = pd.read_csv(path, engine="python", encoding="utf-8", encoding_errors="ignore", header=0)

df = pd.read_csv("Loans_Data_PD.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,5,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Estructura de la data

In [22]:
df.shape

(78323, 42)

In [146]:
df.head()

,Data date,CMF_CUSTOMER_TYPE,CMF_CTRY_RESID,CCL_CTRYNM,CMF_NATIONALITY,DD_REPCLS1,DESCRIPTION,LN_OFFICER,LN_LOCCLAS,LN_TRANSIT,...,LN_COLLATR,LN_PRPDESC,DD_TPLTCHG,Mapp,Stage,Default indicator,Default counter,12m defaults,Cure indicator,12m cures
0,11/30/2016,1.0,9872.0,ANGUILLA,9872,27.0,HOUSE AND LAND PURCHASE,11174.0,6.0,1.0,...,CA,TO PURCHASE LAND,0,HOUSE AND LAND PURCHASE,Stage 1,0,0,0,0,0
1,12/31/2016,1.0,9872.0,ANGUILLA,9872,27.0,HOUSE AND LAND PURCHASE,11174.0,6.0,1.0,...,CA,TO PURCHASE LAND,0,HOUSE AND LAND PURCHASE,Stage 1,0,0,0,0,0
2,1/31/2017,1.0,9872.0,ANGUILLA,9872,27.0,HOUSE AND LAND PURCHASE,11174.0,6.0,1.0,...,CA,TO PURCHASE LAND,0,HOUSE AND LAND PURCHASE,Stage 1,0,0,0,0,0
3,2/28/2017,1.0,9872.0,ANGUILLA,9872,27.0,HOUSE AND LAND PURCHASE,11174.0,6.0,1.0,...,CA,TO PURCHASE LAND,0,HOUSE AND LAND PURCHASE,Stage 1,0,0,0,0,0
4,3/31/2017,1.0,9872.0,ANGUILLA,9872,27.0,HOUSE AND LAND PURCHASE,11174.0,6.0,1.0,...,CA,TO PURCHASE LAND,0,HOUSE AND LAND PURCHASE,Stage 1,0,0,0,0,0

In [25]:
df.dtypes

Data date               object
CMF_CUSTOMER_TYPE       object
CMF_CTRY_RESID         float64
CCL_CTRYNM              object
CMF_NATIONALITY          int64
DD_REPCLS1              object
DESCRIPTION             object
LN_OFFICER             float64
LN_LOCCLAS              object
LN_TRANSIT             float64
LN_CURR                 object
LN_ACCOUNT             float64
LN_CNTRCT                int64
LN_CMFSHNM              object
CFX_RTTDBS             float64
DDE_REFINANCED          object
DD_GLSUBTY              object
LN_FACILTY              object
LN_STATUS              float64
DD_EFFRATE             float64
DD_PAYAMT               object
LN_CURBAL               object
BASE DD_PBAL2DB         object
DD_INTACTM              object
LN_AMOUNT               object
LN_LIMIT                object
DQM_LATFEE              object
DQM_TOTDQ               object
DQM_DATE                object
DQM_DQDAYS              object
LN_DATEOPN              object
LN_MATDATE              object
LN_COLLATR              object
LN_PRPDESC              object
DD_TPLTCHG              object
 Mapping                object
 Stage                  object
 Default indicator       int64
 Default counter         int64
12m defaults             int64
Cure indicator           int64
12m cures                int64
dtype: object

In [26]:
df.rename(columns={' Mapping ':'Mapp'}, inplace=True)

In [27]:
df.columns

Index(['Data date', 'CMF_CUSTOMER_TYPE', 'CMF_CTRY_RESID', 'CCL_CTRYNM',
       'CMF_NATIONALITY', 'DD_REPCLS1', 'DESCRIPTION', 'LN_OFFICER',
       'LN_LOCCLAS', 'LN_TRANSIT', 'LN_CURR', 'LN_ACCOUNT', 'LN_CNTRCT',
       'LN_CMFSHNM', 'CFX_RTTDBS', 'DDE_REFINANCED', 'DD_GLSUBTY',
       'LN_FACILTY', 'LN_STATUS', 'DD_EFFRATE', 'DD_PAYAMT', 'LN_CURBAL',
       'BASE DD_PBAL2DB', 'DD_INTACTM', 'LN_AMOUNT', 'LN_LIMIT', 'DQM_LATFEE',
       'DQM_TOTDQ', 'DQM_DATE', 'DQM_DQDAYS', 'LN_DATEOPN', 'LN_MATDATE',
       'LN_COLLATR', 'LN_PRPDESC', 'DD_TPLTCHG', 'Mapp', ' Stage ',
       ' Default indicator ', ' Default counter ', '12m defaults',
       'Cure indicator', '12m cures'],
      dtype='object')

# Select Data to work with

In [147]:
df_data = df[["Data date", "LN_CNTRCT","Mapp", 'DQM_DQDAYS']]
df_data.head()

    Data date  LN_CNTRCT                     Mapp DQM_DQDAYS
0  11/30/2016    3300000  HOUSE AND LAND PURCHASE        NaN
1  12/31/2016    3300000  HOUSE AND LAND PURCHASE        NaN
2   1/31/2017    3300000  HOUSE AND LAND PURCHASE        NaN
3   2/28/2017    3300000  HOUSE AND LAND PURCHASE        NaN
4   3/31/2017    3300000  HOUSE AND LAND PURCHASE        NaN

In [47]:
df_data.DQM_DQDAYS.unique()

array([nan, '37', '67', ..., '3.00', ' 1,463.00 ', '36.00'], dtype=object)

# Data Type convertions

In [148]:
df_data.dtypes

Data date     object
LN_CNTRCT      int64
Mapp          object
DQM_DQDAYS    object
dtype: object

In [154]:
df_data["Data date"] = pd.to_datetime(df_data["Data date"])
# df_data["Data date"] = df_data["Data date"].astype(str)
# df_data["Data date"] = pd.to_datetime(df_data["Data date"].astype(str), format='%Y/%m/%d')
# df_data["Data date"]  = df_data["Data date"] .dt.strftime('%m/%d/%Y')
df_data.dtypes

Data date     datetime64[ns]
LN_CNTRCT              int64
Mapp                  object
DQM_DQDAYS            object
dtype: object

In [155]:
df_data["DQM_DQDAYS"] = pd.to_numeric(df_data["DQM_DQDAYS"],errors='coerce')

In [156]:
df_data.dtypes

Data date     datetime64[ns]
LN_CNTRCT              int64
Mapp                  object
DQM_DQDAYS           float64
dtype: object

# Filtering Data

In [157]:
df_data["Data date"].unique()

array(['2019-10-31T00:00:00.000000000', '2019-11-30T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-06-30T00:00:00.000000000', '2020-07-31T00:00:00.000000000',
       '2020-08-31T00:00:00.000000000', '2020-09-30T00:00:00.000000000',
       '2020-10-31T00:00:00.000000000', '2020-11-30T00:00:00.000000000',
       '2020-12-31T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2021-02-28T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2021-05-31T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-31T00:00:00.000000000',
       '2021-08-31T00:00:00.000000000', '2021-09-30T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [158]:
# Filter data between two dates
df_data = df_data[(df_data["Data date"] >= "2019-10-30") & (df_data["Data date"] <= "2021-10-31")]
df_data["Data date"].unique()

array(['2019-10-31T00:00:00.000000000', '2019-11-30T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-06-30T00:00:00.000000000', '2020-07-31T00:00:00.000000000',
       '2020-08-31T00:00:00.000000000', '2020-09-30T00:00:00.000000000',
       '2020-10-31T00:00:00.000000000', '2020-11-30T00:00:00.000000000',
       '2020-12-31T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2021-02-28T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2021-05-31T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-31T00:00:00.000000000',
       '2021-08-31T00:00:00.000000000', '2021-09-30T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [159]:
meses = len(df_data["Data date"].unique())
print(f" meses a considerar en el cálculo = {meses}")

 meses a considerar en el cálculo = 25

# Measure Nan Values o Null Values

In [128]:
bool_series = pd.isnull(df_data['DQM_DQDAYS'])
Nan_values = df_data[bool_series]
print(Nan_values)
Nan_values.shape

       Data date  LN_CNTRCT   Mapp DQM_DQDAYS Mapping_Index
80    2019-10-31    3300002  OTHER        NaN             3
84    2020-02-29    3300002  OTHER        NaN             3
85    2020-03-31    3300002  OTHER        NaN             3
86    2020-04-30    3300002  OTHER        NaN             3
93    2020-11-30    3300002  OTHER        NaN             3
...          ...        ...    ...        ...           ...
76359 2019-11-30    3600018  OTHER        NaN             3
76360 2019-12-31    3600018  OTHER        NaN             3
76361 2020-01-31    3600018  OTHER        NaN             3
76362 2020-02-29    3600018  OTHER        NaN             3
76363 2020-03-31    3600018  OTHER        NaN             3

[11282 rows x 5 columns]

(11282, 5)

In [126]:
# all columns check for NaN values 
for column in df_data:
  bool_series = pd.isnull(df_data[column].values)
  Nan_values = df_data[bool_series]
  print(Nan_values.shape)

(0, 5)
(0, 5)
(0, 5)
(11282, 5)
(0, 5)

# assign mapping to data

In [161]:
df_data['Mapp'].unique()

array(['OTHER PERSONAL', 'OTHER', 'HOME CONSTRUCTION/RENOVATION',
       'HOUSE AND LAND PURCHASE'], dtype=object)

In [172]:
# create a list of our conditions
conditions = [
    (df_data['Mapp'] == "HOME CONSTRUCTION/RENOVATION"),
    (df_data['Mapp'] == "HOUSE AND LAND PURCHASE"),
    (df_data['Mapp'] == "OTHER"),
    (df_data['Mapp'] == "OTHER PERSONAL")
    ]

# create a list of the values we want to assign for each condition
values = ["1", "2", "3", "4"]

# create a new column and use np.select to assign values to it using our lists as arguments
df_data['Mapping_Index'] = np.select(conditions, values)

# display updated DataFrame
df_data['Mapping_Index'].value_counts()

1    10200
4     8444
3     7572
2     3589
Name: Mapping_Index, dtype: int64

In [122]:
# df_data[["Mapp", "Mapping_Index"]].groupby(by=["Mapping_Index"])
pd.unique(df_data[["Mapp", "Mapping_Index"]].values.ravel('K'))

array(['OTHER PERSONAL', 'OTHER', 'HOME CONSTRUCTION/RENOVATION',
       'HOUSE AND LAND PURCHASE', '4', '3', '1', '2'], dtype=object)

# Assign Stage by day past due

In [173]:
# create a list of our conditions
column_condition = df_data["DQM_DQDAYS"]
conditions = [
    (column_condition<= 30),
    (column_condition.isna()),
    (column_condition> 30) & (column_condition <= 90),
    (column_condition > 90)
    ]

# create a list of the values we want to assign for each condition
values = ['1', '1', '2', '3']

# create a new column and use np.select to assign values to it using our lists as arguments
df_data['stage'] = np.select(conditions, values)

# display updated DataFrame
df_data['stage'].value_counts()

1    23067
3     5820
2      918
Name: stage, dtype: int64

# Validate Duplicate Values

In [175]:
print(len(df_data.LN_CNTRCT))

duplicateRowsDF = df_data[df_data.duplicated(["Data date", "LN_CNTRCT","Mapp", 'DQM_DQDAYS'], keep=False)]
print(duplicateRowsDF)
df_data = df_data.drop_duplicates(keep='first')
# duplicateRowsDF = clean_data[clean_data.duplicated(['fechacierre.x',"CUNTID.x","Rating"], keep=False)] # just to reconfirm no duplicates values
print(df_data.shape)

29805
Empty DataFrame
Columns: [Data date, LN_CNTRCT, Mapp, DQM_DQDAYS, stage, Mapping_Index]
Index: []
(29805, 6)

# Filter special case operation

In [ ]:
# LN Contract 3300013 is have riiregular behavior

In [178]:
df_data.head()

    Data date  LN_CNTRCT            Mapp  DQM_DQDAYS stage Mapping_Index
42 2019-10-31    3300001  OTHER PERSONAL       645.0     3             4
43 2019-11-30    3300001  OTHER PERSONAL       674.0     3             4
44 2019-12-31    3300001  OTHER PERSONAL       706.0     3             4
80 2019-10-31    3300002           OTHER         NaN     1             3
81 2019-11-30    3300002           OTHER        24.0     1             3

In [185]:
prueba = df_data.query("LN_CNTRCT == '3300013'")
prueba

Empty DataFrame
Columns: [Data date, LN_CNTRCT, Mapp, DQM_DQDAYS, stage, Mapping_Index]
Index: []

In [176]:
df_data = df_data[(df_data["LN_CNTRCT"] != "3300013")]
df_data.shape

(29805, 6)